/* .contact-mainContainer {
    position: relative;
} */
.addConBut {
    margin: 20px auto;
    padding: 6px 12px;
    background-color: #0892D0;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
    width: 200px;
}

.addConBut:hover {
    scale: 1.02;
}
.addConBut:active {
    scale: 1;
}