.list-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    max-width: 50%;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    background-color: white;
    color: #0892D0; 
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.2);
    border: 1px solid ;
}

.name, .mobileNo{
    width: 240px;
    height: 20px;
    padding: 15px 5px;
    margin: 4px 8px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    font-size: 20px;
}

.list-container:hover{
    color: whitesmoke !important;
    background-color: #0892D0;
}

.del {
    width: fit-content;
    height: 20px;
    padding: 5px 10px;
    border-radius: 6px; 
    margin: auto 10px;
    text-align: left;
    font-size: 16px;
    border: 1px solid whitesmoke;
}

.del:hover {
    border-style: solid ;
}

.del:active {
    scale: .95;
}